<div class="container">
  <!-- using css grid from primeNg -->
  <div class="ui-g">
    <!-- css grid 12 columns -->
    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <!-- ui-fluid: gets 100% of available space. all its children will inherit this behavior-->
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <!-- pInputText: primeNg diretive, that has primeNg own css style-->
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  <!-- closing div class ui-g -->
  </div>

  <!-- tabela de dados da página de pessoas-->
  <div class="ui-g">
    <div class="ui-g-12">
      <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
    <!-- closing div class ui-g-12 -->
    </div>
    <!-- button novo lancamento -->
    <div class="ui-g-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  <!-- closing div class ui-g -->
  </div>
<!-- closing div class container-->
</div>
